{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{{ .Title }}</title>
</head>

<body class="min-h-screen bg-gray800 text-slate-900">
    <header class="border-b border-gray-800 bg-gray-800 text-white">
        <div class="mx-auto flex  items-center justify-between px-6 py-2">
            <div>
                <h1 class="text-xl font-semibold tracking-tight">Operations Dashboard</h1>
            </div>

            <a href="/">Team Lead View</a>
            <a href="/TV">TV View</a>

            <div class="rounded-full bg-green-600 px-3 py-1 text-sm font-medium text-white">
                Live
            </div>
        </div>
    </header>

    <main class="bg-gray-600 mx-auto space-y-1 p-2">
        {{ template "content" . }}
    </main>
</body>
</html>
{{ end }}